* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #fff;
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
}

.main {
    background: radial-gradient(circle, rgba(20,0,124,1) 0%, rgba(87,0,119,1) 77%);
}
.container {
    max-width: 1440px;
    margin: 0 auto;
}
.main-container {
    padding-top: 30px;
    min-height: calc(100vh - 70px);
    display: flex;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.menu{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    height: 450px;
    width: 450px;
    transition: 0.3s;
}

.menu-none{
    display: none;
}

.menu-button{
    font-size: 40px;
    width: 400px;
    height: 100px;
    box-shadow: 0 0 10px 5px rgb(0, 255, 60);
    border-radius: 10px;
    border: none;
    background-color: rgb(143, 255, 169);
    color: #000;
    cursor: pointer;
    transition: 0.3s;
}

.menu-button:hover{
    background-color: rgb(78, 252, 118);
}

.menu-button:active{
    transform: scale(0.9, 0.9);
}

.options {
    display: none;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    height: 500px;
    width: 450px;
}

.options-block{
    display: flex;
}

.opt-item{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.options-text {
    font-size: 30px;
}

.options-text span{
    font-size: 30px;
}

.options-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 0 30px;
    width: 400px;
    height: 15px;
    box-shadow: 0 0 10px 5px rgb(0, 255, 60);
    background-color: rgb(143, 255, 169);
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.options-input::-webkit-slider-thumb{
    background: rgb(0, 143, 33);
    border-radius: 5px;
    box-shadow: 0 0 2px 2px #EAEAEA;
    cursor: pointer;
    width:10px;
    height: 20px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.options-input::-moz-range-thumb{
    background: rgb(0, 143, 33);
    border-radius: 5px;
    box-shadow: 0 0 2px 2px #EAEAEA;
    cursor: pointer;
    width:10px;
    height: 20px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.options-input:hover{
    background-color: rgb(78, 252, 118);
}

.controls{
    padding-top: 10px;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 450px;
    width: 550px;
}

.controls-block{
    display: flex;
}

.controls p{
    width: 500px;
}

.arrows span{
    text-align: center;
    width: 50px;
    display: inline-block;
    border-radius: 5px;
    border: 2px solid #fff;
}

.PR{
    text-align: center;
    display: inline-block;
    border: 2px solid #fff;
    border-radius: 5px;
    width: 50px;
}

.game-field {
    display: none;
    align-items: center;
    flex-direction: column;
    height: 550px;
    width: 550px;
}

.game-block{
    display: flex;
}

.score{
    width: 400px;
    height: 50px;
}

.canvas {
    display: block;
    box-shadow: 0 0 10px 5px rgb(0, 255, 60);
    border-radius: 10px;
}

.canvas-none{
    display: none;
}

.result-field {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 400px;
    height: 400px;
    box-shadow: 0 0 10px 5px rgb(0, 255, 60);
    border-radius: 10px;
    background-color: #000;
}

.result-block{
    display: flex;
}

.win-lose {
    font-size: 40px;
}
.your-score {
    font-size: 40px;
}
.final-score {
    font-size: 40px;
}

.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 400px;
    height: 70px;
}
.button {
    width: 125px;
    height: 40px;
    border: none;
    box-shadow: 0 0 10px 5px rgb(0, 255, 60);
    border-radius: 10px;
    background-color: rgb(143, 255, 169);
    color: #000;
    cursor: pointer;
    transition: 0.3s;
}

.button:hover{
    background-color: rgb(78, 252, 118);
}

.button:active{
    transform: scale(0.9, 0.9);
}

.button:focus{
    outline: none;
}

.footer{
    background-color: #000;
}

.footer-container{
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.year {
    margin: 0 20px;
}

.github-link {
    text-decoration: none;
    color: #fff;
    margin-right: 18px;
    transition: 0.3s;
}

.github-link:hover {
    color: rgb(180, 0, 0);
}

.rs{
    height: 60px;
    width: 160px;
    fill: #fff;
    transition: 0.3s;
}

.rs:hover{
    fill: rgb(180, 0, 0);
}
